/***********
 *页面样式
***********/
header{
	width:100%;
	height:150px;
	line-height:150px;
	padding-left:10%;
	color:#47A3DA;
	box-sizing:border-box;
}
.item{
	width:100%;
	
}
.item .left{
	width:23%;
	padding-left:14%;
	float:left;
	box-sizing:border-box;
}
.item article{
	width:77%;
	float:left;
	padding-left:3rem;
	border-left:6px solid #AFDCF8;
	box-sizing:border-box;
	padding-bottom:1rem;
	color:#fff;
}
.bg{
	width:80%;
	border-radius:7px;
	padding:0.3rem 1.5rem 1.5rem 1.5rem;
}
.odd{
	background:#6CBFEE;
}
.even{
	background:#3594CB;
}
.item:nth-child(odd) h2{
	color:#3594CB;
}
.item:nth-child(even) h2{
	color:#6CBFEE;
}
.item .left span{
	color:#BBCFDA;
	font-size:0.8rem;
	float:right;
	margin-right:2rem;
}
.item .left h2{
	margin-top:0;
	float:right;
	margin-right:2rem;
	font-size:2.8rem;
}
.item:last-child{
	margin-bottom:10rem;
}
.item .bg h1{
	border-bottom:2px solid #A7D9F5;
	padding-bottom:1rem;
}
/*===================
=屏幕在1200和666之间的样式
===================*/
@media only screen and (max-width:1200px) and (min-width:667px){
	header{
		text-align:center;
		padding: 0;
	}
	.item .left span{
	font-size:1.2rem;
}
.item .left h2{
	font-size:1.8rem;
	
}
}
/*===================
=屏幕在360以下的样式
===================*/
@media only screen and (max-width:666px){
	header{
		text-align:center;
		padding: 0;
	}
	.item article{
		float:none;
		margin:0 auto;
		border:none;
		width:80%;
		padding:0;
	}
	.item .left{
		float:none;
		margin:0 auto;
		width:80%;
		padding:0;
	}
	.item .left span{
	float:left;
	display:block;
	width :100%;
	
	}
	.item .left h2{
		float:left;
		font-size:1.8rem;
	}
	.item .left span{
	font-size:1.4rem;
}
	.item{
		margin-bottom:5rem;
	}
	.bg{
	width:100%;
	box-sizing: border-box;
}



/***********
 *基本默认值
***********/

html{
	font-size:80%;
	min-width: 360px;
}
h1{
	font-size:2rem;
}
h2{
	font-size:3rem;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
}
 .clearfix:after{
	clear:both;
 }