body{
    background-color: #333333;
}
.bg-img{
    background: url("../img/river.jpg") no-repeat;
    width: 1228px;
    height: 768px;
    margin: 0 auto;
}
.search{
    position: absolute;
    top:200px;
    left: 300px;
    width: 514px;
}
.logo{
    background: url("../img/logo.png");
    width: 107px;
    height: 53px;
    float: left;
    margin-top: -4px;
}
form{
    float: left;
    background-color: #fff;
    padding: 3px;
    margin-left: 18px;

}
.input-t{
    width:350px;
    height: 25px;
    line-height: 25px;
    outline: none;
    border:none;
    float: left;
    font-size: 18px;
}
.input-s{
    border:none;
    background: url("../img/search-button.png") no-repeat;
    width: 29px;
    height: 29px;
    float: left;
    cursor: pointer;
}
.search-list{
    width:385px;
    position: absolute;
    top:235px;
    left:425px;
}
.search-list ul{
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #A8A8A8;
    display: none;
}
.search-list ul li{
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}
.search-list ul li:hover{
    text-decoration:underline;
    background-color:#A8A8A8 ;
}